<body>
    <div class="strap"></div>
    <div id="case">
        <div id="border">
            <div id="watch-face">
                <div id="title-bar">
                    <h1 class="title">apeskinian|</h1>
                    <h1 class="model">WATCH-O-MATIC</h1>
                </div>
                <div id="info-bar">
                    <p id="light">LIGHT</p>
                    <p id="chrono">ALARM CHRONOGRAPH</p>
                </div>
                <div id="grey-border">
                    <div id="terminal"></div>
                </div>
                <div id="button-div">
                    <p class="button-bar-label">WATER</p>
                    <button onclick="window.location.reload()">WATCH-O-MATIC</button>
                    <p class="button-bar-label">RESIST</p>
                </div>
            </div>
        </div>
    </div>
    <div class="strap"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>